<section>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="width: 100%"
  >
    <div class="container flex-wrap flex-lg-nowrap" style="width: 100%">
      <a
        class="navbar-brand"
        [routerLink]="'home'"
        routerLinkActive="router-link-active"
        >Turing Clothes</a
      >

      <!-- Botón para dispositivos móviles -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú colapsable -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <!-- Links comunes -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'home'"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="'catalog'"
              >Catálogo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'aboutus'">Sobre nosotros</a>
          </li>

          <!-- Links condicionales según estado de sesión -->
          @if (isLoguedIn()) {
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'test-page'">Testing</a>
          </li>
          }
        </ul>
        
        <!-- Sección de carrito y login/logout -->
        <div class="d-flex align-items-center">
          <!-- Botón de carrito -->
          <a class="btn btn-outline-dark me-2" [routerLink]="'cart'">
            <i class="bi bi-bag"></i>
            <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartQuantity}}</span>
            
          </a>
          
          <!-- Sección condicional para usuario logueado/no logueado -->
          @if (isLoguedIn()) {
          <div class="pt-2">
            <p>Bienvenido, {{ getLogedUsername() }}.</p>
          </div>
          <button class="btn btn-outline-dark me-2 ms-2" (click)="logout()">
            Cerrar sesión
          </button>
          } @else {
          <a class="btn btn-outline-dark bg-primary" [routerLink]="'login'">
            <span class="badge text-white ms-1 rounded-pill"
              >Iniciar sesión</span
            >
          </a>
          }
        </div>
      </div>
    </div>
  </nav>
</section>
