<app-header />
<div class="container text-center mt-5">
 
  <div class="row mb-4">
  
     <div class="col-lg-6">
      <h1 class="main-text">Tu tienda de moda enfocada en la tecnología...</h1>
      <p>¡Bienvenidos a Turing Clothes, donde la moda se encuentra con el código!

        Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
        Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres mostrar tu amor
        por el mundo digital, aquí encontrarás ropa que te entiende.

        Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
        Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres
        mostrar tu amor por el mundo digital, aquí encontrarás ropa que te entiende.
        Desde camisetas con diseños ingeniosos hasta sudaderas que te harán sentir en el club de los
        grandes innovadores, queremos que lleves tu estilo geek al siguiente nivel.</p>
    </div>

    <div class="col-lg-6 d-flex justify-content-end align-items-center">
      <div class="logo">
        <img src="img/img1Turing.jpg" alt="Logo/portada" class="img-fluid mx-auto w-60">
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <h2 class="main-text">¡Echa un vistazo a nuestros productos!</h2>
  </div>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="img/carrusel2.png" class="img-fluid d-block mx-auto">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="img/carrusel3.png" class="img-fluid d-block mx-auto">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="img/carrusel4.png" class="img-fluid d-block mx-auto">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="img/carrusel5.png" class="img-fluid d-block mx-auto">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="img/carrusel6.png" class="img-fluid d-block mx-auto">
      </div>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-lg-4 mb-3">
      <div class="custom-button">
      </div>
      <img src="img/img2Turing.jpg" alt="Logo/portada" class="img-fluid">
      <h4>Tejidos cómodos y transpirables</h4>

      <p>En Turing Clothes queremos que tu ropa sea tan confiable como tu mejor código.
        Nuestras prendas están diseñadas con materiales de calidad y estilos modernos, ideales para resistir esos largos
        días de trabajo (o maratones de código).</p>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="custom-button">
      </div>
      <img src="img/img3Turing.jpg" alt="Logo/portada" class="img-fluid">
      <h4>Catálogo variado y a tu gusto</h4>

      <p>Ofrecemos una variedad de camisetas, sudaderas,
        y accesorios que fusionan el lenguaje de programación con el diseño de moda,
        perfectos para el día a día y también para cualquier evento tech.</p>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="custom-button">
        
      </div>
      <img src="img/img4Turing.jpg" alt="Logo/portada" class="img-fluid">
      <h4>Ropa de calidad a precio popular</h4>
      <p>Además, sabemos que los programadores tienen prioridades;
        por eso, nuestros precios son accesibles, para que puedas invertir en tus hobbies y seguir vistiendo con estilo.
      </p>

    </div>
  </div>
</div>