<app-header />
<div class="container text-center mt-5">
  <!-- Sección de logo/portada -->
  <div class="row mb-4">
    <div class="col-lg-6 offset-lg-3">
      <div class="logo">
        <img src="/public/img/img1Turing.jpg" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- Texto principal -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="main-text">Tu tienda de moda enfocada en la tecnología...</h1>
      <p>¡Bienvenidos a Turing Clothes, donde la moda se encuentra con el código! 
        Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología. 
        Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres
        mostrar tu amor por el mundo digital, aquí encontrarás ropa que te entiende.
        Desde camisetas con diseños ingeniosos hasta sudaderas que te harán sentir en el club de los 
        grandes innovadores, queremos que lleves tu estilo geek al siguiente nivel.</p>
    </div>
  </div>

  <!-- Carrusel -->
  <div class="row mt-5">
    <div class="col-lg-12">
      <h2>Un vistazo a nuestros productos</h2>
      <div class="carousel mt-3">
        <img src="" alt="Carrusel" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- Botones informativos -->
  <div class="row mt-5">
    <div class="col-lg-4 mb-3">
      <img src="/public/img/img2Turing.jpg" class="img-fluid">
      <div class="custom-button">Tejidos cómodos y transpirables</div>
      <p>En Turing Clothes queremos que tu ropa sea tan confiable como tu mejor código. 
        Nuestras prendas están diseñadas con materiales de calidad y estilos modernos, 
        ideales para resistir esos largos días de trabajo (o maratones de código).</p>
    </div>
    <div class="col-lg-4 mb-3">
      <img src="/public/img3Turing.jpg" class="img-fluid">
      <div class="custom-button">Catálogo variado y a tu gusto</div>
      <p>Ofrecemos una variedad de camisetas, sudaderas,
      y accesorios que fusionan el lenguaje de programación con el diseño de moda, 
      perfectos para el día a día y también para cualquier evento tech.</p>
    </div>
    <div class="col-lg-4 mb-3">
      <img src="/public/img4Turing.jpg" class="img-fluid">
      <div class="custom-button">Ropa de calidad a precio popular</div>
      <p>Además, sabemos que los programadores tienen prioridades; 
      por eso, nuestros precios son accesibles, para que puedas
      invertir en tus hobbies y seguir vistiendo con estilo.</p>
    </div>
  </div>
</div>