<div class="row mb-4">
    <!-- Texto principal -->
 
    <div class="col-lg-12">
     <h1 class="main-text">Tu tienda de moda enfocada en la tecnología...</h1>
     <p>¡Bienvenidos a Turing Clothes, donde la moda se encuentra con el código!

       Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
       Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres mostrar tu amor
       por el mundo digital, aquí encontrarás ropa que te entiende.

       Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
       Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres
       mostrar tu amor por el mundo digital, aquí encontrarás ropa que te entiende.
       Desde camisetas con diseños ingeniosos hasta sudaderas que te harán sentir en el club de los
       grandes innovadores, queremos que lleves tu estilo geek al siguiente nivel.</p>
   </div>

   <div class="col-lg-6">
    <h1 class="main-text">Visión</h1>
    <img src="img/vision.jpg" alt="Logo/portada" class="img-fluid mx-auto w-60">
    <p>¡Bienvenidos a Turing Clothes, donde la moda se encuentra con el código!

      Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
      Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres mostrar tu amor
      por el mundo digital, aquí encontrarás ropa que te entiende.

      Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
      Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres
      mostrar tu amor por el mundo digital, aquí encontrarás ropa que te entiende.
      Desde camisetas con diseños ingeniosos hasta sudaderas que te harán sentir en el club de los
      grandes innovadores, queremos que lleves tu estilo geek al siguiente nivel.</p>
  </div>
  <div class="col-lg-6">
    <h1 class="main-text">Marca</h1>
    <img src="img/corporativo.jpg" alt="Logo/portada" class="img-fluid mx-auto w-60">

    <p>¡Bienvenidos a Turing Clothes, donde la moda se encuentra con el código!

      Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
      Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres mostrar tu amor
      por el mundo digital, aquí encontrarás ropa que te entiende.

      Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
      Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres
      mostrar tu amor por el mundo digital, aquí encontrarás ropa que te entiende.
      Desde camisetas con diseños ingeniosos hasta sudaderas que te harán sentir en el club de los
      grandes innovadores, queremos que lleves tu estilo geek al siguiente nivel.</p>
  </div>

  <div class="col-lg-12">
    <h1 class="main-text">Compromiso</h1>
    <img src="img/compromiso.jpg" alt="Logo/portada" class="img-fluid mx-auto w-60">

    <p>¡Bienvenidos a Turing Clothes, donde la moda se encuentra con el código!

      Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
      Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres mostrar tu amor
      por el mundo digital, aquí encontrarás ropa que te entiende.

      Somos la tienda de ropa dedicada exclusivamente a programadores y apasionados de la tecnología.
      Si pasas tus días entre líneas de código, noches en sprints interminables o simplemente quieres
      mostrar tu amor por el mundo digital, aquí encontrarás ropa que te entiende.
      Desde camisetas con diseños ingeniosos hasta sudaderas que te harán sentir en el club de los
      grandes innovadores, queremos que lleves tu estilo geek al siguiente nivel.</p>
  </div>