<!-- <h1>Pasarela de pago</h1>

@if (sessionId) {
  <section>
    <h2>Compra realizada con éxito</h2>
    <button (click)="reload()">Volver a comprar</button>
  </section>
}
@else if (product) {
  <section>
    <h2>Vas a comprar esto:</h2>
    <img [src]="product.image">
    <h3>{{product.name}} {{product.price}}€</h3>
    <p>{{product.description}}</p>
  -->
<div #checkoutDialog class="w-100 p-4" style="height: 100%;">
  <div id="checkout"></div>
  <button (click)="cancelCheckoutDialog()">x</button>
</div>
