<app-smart-search></app-smart-search>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      @for (product of productList; track product.id) {
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product Badge (Limited Stock) -->
          @if (product.stock < 10) {
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Limited Stock
          </div>
          }

          <!-- Product image-->
          <img
            class="card-img-top"
            src="{{ product.image }}"
            alt="{{ product.name }}"
          />

          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ product.name }}</h5>

              <!-- Product price with conditional sale price-->
              @if (product.stock < 10) {
              <div>
                <p class="text-danger">Precio: {{ product.price }} €</p>
              </div>
              } @else {
              <b>Precio:</b> {{ product.price }} € }

              <!-- Product stock availability -->
              @if (product.stock > 0) {
              <p>{{ product.stock }} in stock</p>
              } @else {
              <p class="text-danger">Out of stock</p>
              }
            </div>
          </div>

          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              @if (product.stock > 0) {
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Añadir al carrito</a
              >
              } @else {
              <a class="btn btn-outline-dark mt-auto disabled" href="#"
                >Notifícame</a
              >
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
