<div class="container-fluid my-4">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-2">
        <app-sidebar />
      </div>
  
      <div class="col-12 col-md-9 col-lg-10">
        <h2 class="mb-4">Cambiar Contraseña</h2>
        <p>Aquí puedes actualizar la contraseña de tu cuenta.</p>
  
        <div class="card shadow-sm">
          <div class="card-body">
            <form (ngSubmit)="onChangePassword()">
              <div class="mb-3">
                <label for="currentPassword" class="form-label"
                  >Contraseña Actual</label
                >
                  <input
                  type="password"
                  id="currentPassword"
                  class="form-control border border-dark"
                  [(ngModel)]="currentPassword"
                  name="currentPassword"
                  required
                  />
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label"
                  >Nueva Contraseña</label
                >
                <input
                  type="password"
                  id="newPassword"
                  class="form-control border border-dark"
                  [(ngModel)]="newPassword"
                  name="newPassword"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label"
                  >Confirmar Nueva Contraseña</label
                >
                <input
                  type="password"
                  id="confirmPassword"
                  class="form-control border border-dark"
                  [(ngModel)]="confirmPassword"
                  name="confirmPassword"
                  required
                />
              </div>
              <button type="submit" class="btn btn-dark">
                Guardar Cambios
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>